<%- include('../homeIncludes/header.ejs') %>
    <!-- Dashboard Navbar -->
    <%- include('./dashboardIncludes/dashboardNav.ejs') %>

        <main id="dashboardMain" class="">
            <!-- Dashboard Sidebar -->
            <%- include('./dashboardIncludes/sidebar.ejs') %>

                <section id="dashboardContent" style="height: fit-content;">
                    <div class="dashboardContainer">
                        <!-- Dashboard Content Start -->

                        <h1 class="pageTitle"><span><a href="/">Home / </a> </span>Dashboard</h1>
                        <% truck.forEach(foodTruck=> { %>
                            <section class="dashboardContentContainer">
                                <h1 style="font-size: 28px; letter-spacing: 1px;" class="heading">
                                    <%= foodTruck.name %>
                                </h1>
                                <p>ID: <input type="text" readonly value="<%= foodTruck._id %>"></p>

                                <p>
                                    <%= foodTruck.address %>
                                </p>
                                <p>Price for two: <%= foodTruck.priceForTwo %>
                                <p>Email: <%= foodTruck.email %>
                                <p>contactNumbers: <%= foodTruck.contactNumbers %>
                                </p>
                                <br>
                                <p>Opening Hours: </p>

                                <% foodTruck.openingHours.forEach((hour, index)=> { %>

                                    <% let openingTime=foodTruck.openingHours[index].openingTime; let
                                        openingHour=parseInt(openingTime.split(':')[0]); %>
                                        <% let openingPeriod=(openingHour>=12) ? "PM" : "AM";
                                            let openingDisplayHour = (openingHour > 12) ? openingHour - 12 :
                                            openingHour;

                                            let closingTime = foodTruck.openingHours[index].closingTime;
                                            let closingHour = parseInt(closingTime.split(':')[0]);
                                            let closingPeriod = (closingHour >= 12) ? "PM" : "AM";
                                            let closingDisplayHour = (closingHour > 12) ? closingHour - 12 :
                                            closingHour;

                                            %>

                                            <p><span>
                                                    <%= foodTruck.openingHours[index].day %>
                                                </span>
                                                <% if (foodTruck.openingHours[index].open==='true' ) { %>
                                                    Open <br>
                                                    <span>
                                                        <%= openingDisplayHour %>:<%= openingTime.split(':')[1] %>
                                                                <%= openingPeriod %> to
                                                    </span>
                                                    <span>
                                                        <%= closingDisplayHour %>:<%= closingTime.split(':')[1] %>
                                                                <%= closingPeriod %>
                                                    </span>
                                                    <% } else { %>
                                                        Closed
                                                        <% } %>

                                            </p>
                                            <% }) %>
                                                <!-- Cusines Offered -->
                                                <br>
                                                <p>Special Dish One <%= foodTruck.threeSpecialDishes[0].dish %>
                                                </p>
                                                <p>Special Dish Two <%= foodTruck.threeSpecialDishes[1].dish %>
                                                </p>
                                                <p>Special Dish Three <%= foodTruck.threeSpecialDishes[2].dish %>
                                                </p>
                                                <br>
                                                <p>Cusines Offered: <%= foodTruck.cusinesOffered %>
                                                </p>
                                                <p>Famous For <%= foodTruck.famousFor %>
                                                </p>
                                                <br>
                                                <p>Description <%= foodTruck.description %>
                                                </p>
                                                <br>
                                                <p>Serving Since <%= foodTruck.servingSince %>
                                                </p>
                                                <p>Bogo On: <% foodTruck.bogoOn.forEach(day=> { %>
                                                        <%= day%> &nbsp;
                                                            <% })%>
                                                </p>
                                                <% if(foodTruck.customDiscount1==='' ){}else{ %>
                                                    <p>Custom Discount 1: <%= foodTruck.customDiscount1%>
                                                    </p>
                                                    <%} %>
                                                        <% if(foodTruck.customDiscount2==='' ){}else{ %>
                                                            <p>Custom Discount 2: <%= foodTruck.customDiscount2%>
                                                            </p>
                                                            <%} %>
                                                                <% if(foodTruck.customDiscount3==='' ){}else{ %>
                                                                    <p>Custom Discount 3: <%=
                                                                            foodTruck.customDiscount3%>
                                                                    </p>
                                                                    <%} %>

                                                                        <a href="/upload-images/<%= foodTruck._id%>">Images</a>
                                                                        <br><br>
                                                                        <a href="/editFoodTruck/<%= foodTruck._id%>">Edit</a>
                            </section>
                            <% }) %>

                    </div>
                </section>
        </main>
        <script src="/js/dashboardSidebar.js"></script>

        <!-- Page Ends -->
        <%- include('../homeIncludes/pageEnd.ejs') %>