<!-- Page Start HTML -->
<%- include('./homeIncludes/header.ejs') %>
    <!-- Header -->
    <header>
        <!-- Navbar -->
        <%- include('./homeIncludes/navbar.ejs') %>

            <!-- Header Container -->
            <div id="headerContainer">

                <div>
                    <div class="logoHeader"><img src="/img/logo.png" alt=""></div>
                </div>
                <div>
                    <h1>Roaming Flavors: Explore Canada's Food Trucks</h1>
                    <!-- <h1>Explore the Delicious Diversity of Food Trucks</h1> -->
                    <p>Embark on a Flavorful Journey Through Canada's Food Truck Scene. Taste, Explore, Indulge - Where
                        Every
                        Bite Tells a Story!</p>
                    <!-- <a class="btnTeal btn" href="">Explore Food Trucks</a>
                <a class="btnWhite btn" href="">About Us</a> -->
                </div>
            </div>

            <!-- Search Bar -->
            <%- include('./homeIncludes/searchBar.ejs') %>
    </header>

    <!-- Top Rated Food Trucks -->
    <%- include('./homeIncludes/topRatedFoodTrucks.ejs') %>

        <!-- Deals of the day -->
        <%- include('./homeIncludes/dealsOfTheDay.ejs') %>


            <!-- Footer -->
            <%- include('./homeIncludes/footer.ejs') %>

                <!-- Page Ends  -->
                <%- include('./homeIncludes/pageEnd.ejs') %>